[submodule "submodules/vim-pathogen"]
	path = submodules/vim-pathogen
	url = git@github.com:tpope/vim-pathogen
[submodule "submodules/vim-colors-solarized"]
	path = submodules/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized
[submodule "submodules/minibufexpl.vim"]
	path = submodules/minibufexpl.vim
	url = git@github.com:fholgado/minibufexpl.vim.git
