[submodule "submodules/vim-pathogen"]
	path = submodules/vim-pathogen
	url = git@github.com:tpope/vim-pathogen
[submodule "submodules/vim-colors-solarized"]
	path = submodules/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized
[submodule "dotfiles/vim/bundle/minibufexpl.vim"]
	path = dotfiles/vim/bundle/minibufexpl.vim
	url = git@github.com:fholgado/minibufexpl.vim.git
[submodule "submodules/gtk-vim-syntax"]
	path = submodules/gtk-vim-syntax
	url = git@github.com:vim-scripts/gtk-vim-syntax.git
[submodule "submodules/vim-fugitive"]
	path = submodules/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "dotfiles/vim/bundle/vim-fugitive"]
	path = dotfiles/vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
